{% extends 'base.html.twig' %}

{% block title %}  Parc a Vélo{% endblock %}

{% block body %}
<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Classe</th>
            <th scope="col">Date j/m/a | Heure</th>
            <th scope="col">Vélo</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td> {{ sortie.eleve.nom }}</td>
                <td> {{ sortie.eleve.prenom }}</td>
                <td> {{ sortie.eleve.classe }}</td>
                <td>{{ sortie.date|date }}</td>
                <td>
                    {% if sortie.velo  %}
                        <img src="{{asset('logo/bike.png')}}" alt="logo Lycee">
                    {% else %}
                        <img src="{{asset('logo/man-user.png')}}" alt="no velo">
                    {% endif %}
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
